@import url(scmd.css);

.imagetab 
{
	color: white;
    background: #e0a0c0;
    background-image: url("../image/tab.png");
	font-size: 9pt;
	text-align: center;
}
.imagetab a:link, .imagetab a:visited
{ 
	display: block;
	width: 100%;
	text-decoration: none; color: white; 
}
.imagetab a:hover 
{ 
	display: block;
	width: 100%;
	text-decoration: none; 
	color: white; 
	text-weight: bold;
	background: #F0A0C0; 
}

.selected 
{
	color: white;
    background: #80a0c0;
    background-image: url("../image/tabselected.png");
	font-size: 9pt;
	text-align: center;
	font-weight: bold;
}
.selected a:link, .selected a:visited
{ 
	text-decoration: none; color: white; 
	display: block;
	width: 100%;
}
.selected a:hover 
{ 
	display: block;
	width: 100%;
	text-decoration: none; color: white; background: #70D0FF;
	text-weight: bold;
}
