#
# build.properties.sample
#
# Please edit properties below according to your environment, and save as build.properties
#

TOMCAT_HOME=/usr/local/tomcat
#dir.deploy=webapps
manager.url=http://localhost:8080/manager
manager.username=admin
manager.password=passwd


