<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    
  <display-name>SCMD Server Application </display-name>
  
  <listener>    
    <listener-class>lab.cb.scmd.web.common.SetupServlet</listener-class>
  </listener>
  
  
  <!-- Standard Action Servlet Configuration (with debugging) -->
  <!--
  <servlet>
  	<servlet-name>SetupServlet</servlet-name>
  	<servlet-class>lab.cb.scmd.web.common.SetupServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  -->
  
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>	
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- Standard Action Servlet Mapping -->
 <!-- 
  <servlet-mapping>
	<servlet-name>SetupServlet</servlet-name>
	<url-pattern>/setup</url-pattern>
  </servlet-mapping>
  -->
  
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ImageServer</servlet-name>
    <servlet-class>lab.cb.scmd.web.image.ImageServer</servlet-class>
  </servlet>  	
  <servlet-mapping>
    <servlet-name>ImageServer</servlet-name>
    <url-pattern>/photoServer.image</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SCMDImageServer</servlet-name>
    <servlet-class>lab.cb.scmd.web.image.SCMDImageServer</servlet-class>
  </servlet>  	
  <servlet-mapping>
    <servlet-name>SCMDImageServer</servlet-name>
    <url-pattern>/scmdimage.img</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SCMDImageServer</servlet-name>
    <url-pattern>/scmdimage.png</url-pattern>
  </servlet-mapping>
  


<!--
  <servlet>
    <servlet-name>com</servlet-name>
    <servlet-class>lab.cb.scmd.web.image.EchoServlet</servlet-class>
  </servlet>  	
  <servlet-mapping>
    <servlet-name>com</servlet-name>
    <url-pattern>/manager/com</url-pattern>
  </servlet-mapping>
  -->
  <servlet>
    <servlet-name>plot2d</servlet-name>
    <servlet-class>lab.cb.scmd.web.image.Plot2DServlet</servlet-class>
  </servlet>  	
  <servlet-mapping>
    <servlet-name>plot2d</servlet-name>
    <url-pattern>/plot/plot2d.png</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>ParamFigPainter</servlet-name>
	<servlet-class>lab.cb.scmd.web.image.ParamFigPainter</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>ParamFigPainter</servlet-name>
	<url-pattern>/paramfig.png</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>BufferedCellImageServer</servlet-name>
    <servlet-class>lab.cb.scmd.web.image.BufferedCellImageServer</servlet-class>
  </servlet>  	
  <servlet-mapping>
    <servlet-name>BufferedCellImageServer</servlet-name>
    <url-pattern>/cell.jpg</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>CellPainter</servlet-name>
    <servlet-class>lab.cb.scmd.web.image.CellPainter</servlet-class>
  </servlet>  	
  <servlet-mapping>
    <servlet-name>CellPainter</servlet-name>
    <url-pattern>/cellshape.png</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TeardropPainter</servlet-name>
    <servlet-class>lab.cb.scmd.web.image.TeardropPainter</servlet-class>
  </servlet>  	
  <servlet-mapping>
    <servlet-name>TeardropPainter</servlet-name>
    <url-pattern>/teardrop.png</url-pattern>
  </servlet-mapping>
  
   <servlet>
	<servlet-name>CellImageServer</servlet-name>
	<servlet-class>lab.cb.scmd.web.image.CellImageServer</servlet-class>
   </servlet>
   <servlet-mapping>
	<servlet-name>CellImageServer</servlet-name>
	<url-pattern>/singlecell.jpg</url-pattern>
  </servlet-mapping>
  
  <!-- The Usual Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  


  <!-- Struts Tag Library Descriptors -->
  <taglib>
    <taglib-uri>/tags/struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-html</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-nested</taglib-uri>
    <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-tiles</taglib-uri>
    <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
  </taglib>
</web-app>
