IMAGEMAGICK_CONVERT = C:/Program Files/ImageMagick-6.0.3-Q16/convert.exe
#SCMD_PHOTO_DIR_URL = file:///M:/cygwin/home/leo/eclipse/workspace/SCMDServer/web/database/photo
SCMD_PHOTO_DIR_URL = http://scmd.gi.k.u-tokyo.ac.jp/database/photos/
#XMLQUERY = lab.cb.scmd.db.mock.MockXMLQuery
#TABLEQUERY = lab.cb.scmd.db.mock.MockTableQuery
#VALUEQUERY = lab.cb.scmd.db.mock.MockValueQuery
XMLQUERY = lab.cb.scmd.db.connect.SCMDXMLQuery
TABLEQUERY = lab.cb.scmd.db.connect.SCMDTableQuery
VALUEQUERY = lab.cb.scmd.db.connect.SCMDValueQuery
POSTGRESQL_IP = scmd.gi.k.u-tokyo.ac.jp
POSTGRESQL_PORT = 5432
#POSTGRESQL_DBNAME = scmd_pre_20040714
POSTGRESQL_DBNAME = scmd
#TEARDROP_URI = http://scmd.gi.k.u-tokyo.ac.jp/database/teardrop/average_shape/
TEARDROP_URI = http://scmd.gi.k.u-tokyo.ac.jp/database/teardrop/paramstats
TEARDROP_H_URI = http://scmd.gi.k.u-tokyo.ac.jp/database/teardrop/paramstats_h
PARAMFIG_URI = http://scmd.gi.k.u-tokyo.ac.jp/database/paramfig


# DBÇÃÉeÅ[ÉuÉãÇí«â¡ (2005/02/08)
DB_GENENAME = genename_20040719
DB_STRAIN = strain_20040730
DB_ORFALIAS = orfaliasname_20040719
DB_SUMMARY = analysisdata_20050131
DB_INDIVIDUAL = individual_20050131
DB_AVERAGESHAPE = average_shape_20040813
DB_TD_AVERAGESHAPE = td_average_shape_20040820
DB_PARAMETERLIST = parameterlist
DB_ZSCORE = paramzscore
DB_PARAM_AVG_SD = paramavgsd
DB_TMP_ANALYSISZSCORE = analysiszscore
DB_GROUPLIST = groups
